@model NumberMachine.Models.NumberOutput

@{
    ViewData["Title"] = $"Output {Model.ID}";
}

<h2>Details</h2>

<div>
    <h4>Output @Html.DisplayFor(model => model.ID)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Input)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Input.ID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Input.N)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Input.N)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Operation)
        </dt>
        <dd>
            @Html.DropDownListFor(
                  m => m.Operation, new List<SelectListItem>
                  {
                    new SelectListItem{Text=((char)43).ToString(), Value="43"},
                    new SelectListItem{Text=((char)45).ToString(), Value="45"},
                    new SelectListItem{Text=((char)215).ToString(), Value="215"},
                    new SelectListItem{Text=((char)247).ToString(), Value="247"}
                  },
                  new { disabled = "disabled" }
              )
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Input.M)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Input.M)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Output)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Output)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
