@model IEnumerable<NumberMachine.Models.NumberOutput>

@{
    ViewData["Title"] = "Outputs";
}

<h2>Outputs</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Output)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Input.N)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Operation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Input.M)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Output)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Input.N)
            </td>
            <td>
               @Html.DropDownListFor(
                   m => item.Operation, new List<SelectListItem>
                   {
                        new SelectListItem{Text=((char)43).ToString(), Value="43"},
                        new SelectListItem{Text=((char)45).ToString(), Value="45"},
                        new SelectListItem{Text=((char)215).ToString(), Value="215"},
                        new SelectListItem{Text=((char)247).ToString(), Value="247"}
                   },
                   new { disabled = "disabled" }
               )
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Input.M)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
